*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: 20px 0;
    background-color: #ffffff;
    color: #000;
    font-family: inter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

/* ------------------------- HEADER ------------------------- */

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header__nav{
    width: 90vw; 
    display: flex;
    justify-content: space-between;
}

h1{
    font-weight: 600;
    font-size: 1.6rem;
    position: absolute;
}

.header__nav__toggle{
    font-weight: 800;
    font-size: 1.6rem;
    border: none;
}

.header__nav>ul{
    display: none;
}

.header__nav__element{
    list-style: none;
}

.header__nav__element>a{
    color: inherit;
    font-weight: 500;
}

.header__nav__element--cta{
    background-color: #000;
    padding: 15px 20px;
    border-radius: 7px;
    color: #fff;
}

/* ------------------------- HEADER QUERIES ------------------------- */
@media (min-width: 900px) and (orientation: landscape) { /* Escritorio y tablets landscape*/
    header{
        align-self: center;
    }
    .header__nav__toggle{
        display: none;
    }
    .header__nav>ul{
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .header__nav__element{
        font-size: 1rem;
    }
    
    h1{
        font-size: 3rem;
    }
}

@media (min-width: 1280px){
    header{
        margin-top: 30px;
    }
    .header__nav>ul{
        gap: 50px;
    }
    .header__nav__element{
        font-size: 1.2rem;
    }
}

/* ------------------------- MAIN ------------------------- */

/* ------------------------- HERO SECTION ------------------------- */

.hero{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.hero__text-wrapper{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.hero__text-wrapper > h2{
    font-size: 1.8rem;
    font-weight: 700;
}

.hero__text-wrapper > p{
    font-size: 0.9rem;
    font-weight: 200;
    color: #000000d2;
}

.btn-primary{
    background-color: #000;
    font-size: 1.2em;
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
}

.hero > img{
    width: 100%;
    border-radius: 7px;
    margin: auto;
}

/* ------------------------- HERO QUERYS ------------------------- */

@media (min-width: 900px) and (orientation: landscape) {
    .hero{
        gap: 60px;
    }
    body{
        gap: 80px;
    }
    .hero__text-wrapper > h2{
        font-size: 3.5rem;
    }
    .hero__text-wrapper > p{
        font-size: 1.5rem;
        white-space: pre;
    }
    .btn-primary{
        font-weight: 300;
        font-size: 1.6rem;
        padding: 20px 35px
    }
}


@media (min-width: 1240px){
    .btn-primary{
        font-weight: 500;
}
}
